<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} — {{ .Site.Title
      }}{{ end }}
    </title>
    <meta
      name="description"
      content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}"
    />
    <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    {{ if not .IsHome }}
    <meta property="og:title" content="{{ .Title }}" />
    {{ end }} {{ with .Params.image }}
    <meta property="og:image" content="{{ . }}" />
    {{ end }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/images/favicon-180x180.png" />
    <link rel="stylesheet" href="/css/app.css" />
    {{ block "head" . }}{{ end }}
  </head>

  <body class="font-montserrat">
    {{ partial "nav.html" . }}
    <main>{{ block "main" . }}{{ end }}</main>
    {{ partial "footer.html" . }}
    <script src="/js/app.js"></script>
  </body>
</html>
